<extend name="Public/index"/>
<block name="content">
  <div class="main-content">
    <div id="breadcrumbs" class="breadcrumbs">
      <script type="text/javascript">
        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
      </script>

      <ul class="breadcrumb">
        <li>
          <i class="icon-home home-icon"></i>
          <a href="/home/project/ThinkPHP">后台主页</a>
        </li>

        <li>
          <a href="#">敏感词管理</a>
        </li>
        <li class="active">敏感词信息</li>
      </ul><!-- .breadcrumb -->


    </div>

    <div class="page-content">
      <div class="page-header">
        <h1>
          敏感词管理
          <small>
            <i class="icon-double-angle-right"></i>
            词语信息
          </small>
        </h1>
      </div><!-- /.page-header -->
        
      <!-- 敏感词弹框 -->
      <div style="z-index:999;width:500px;height:300px;position:fixed;top:60%;left:50%;margin:-160px 0px 0px -200px;background:#faf0e6;display:none" id="zidingyi">
            <!-- 敏感词添加表单 -->
          <form method="post" action="{:U('Admin/Sen/insert')}" role="form" class="form-horizontal">
                <!-- 添加敏感词 -->
                <div style="margin-top:20px" class="form-group">
                    <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 添加敏感词</label>
                    <div>
                        <textarea cols="46" rows="8" name="addword"> 
                        </textarea>
                    </div>
                </div>
                    <!-- 添加敏感词等级 -->
                <div class="form-group">
                    <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 等级 </label>
                            <!-- 词语查询等级：1禁用、2审核、3替换 -->
                    <div class="col-sm-9">
                        <input type="radio" value="1" name="grade" placeholder="" id="form-field-1">禁用   
                        <input type="radio" value="2" name="grade"     placeholder="" id="form-field-1">审核
                        <input type="radio" value="3" name="grade" placeholder="" id="form-field-1">替换
                    </div>
                </div>
                
                    <!-- 提交,取消按钮 -->
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-info">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button type="reset" class="btn" id="cancel">
                            <i class="icon-undo bigger-110"></i>
                            取消
                        </button> 
                    </div>
                </div>
          </form>
      </div>

        
      <div class="row">
        <div class="col-xs-12">
          <!-- PAGE CONTENT BEGINS -->

          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="sample-table-1">
                  <!-- 分页搜索 -->
                  <div class="row">
                    <div class="col-sm-6">
                      <div id="sample-table-2_length" class="dataTables_length">
                        <form action="{:U('Admin/Sen/index')}" method="get">
                        <label>每页显示 
                          <select id="num" name="num" size="1" aria-controls="sample-table-2">
                            <option <?php echo $_GET['num'] == 5 ? 'selected' : '' ?> value="5">5</option>
                            <option <?php echo $_GET['num'] == 10 ? 'selected' : '' ?> value="10">10</option>
                            <option <?php echo $_GET['num'] == 15 ? 'selected' : '' ?> value="15">15</option>
                          </select> 条
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="dataTables_filter" id="sample-table-2_filter">
                        <label>搜索: 
                          <input id="search" type="text" name="keyword" aria-controls="sample-table-2" placeholder="请输入敏感词" value="{$Think.get.keyword}">
                        </label>
                        <button class="btn btn-sm btn-primary">查询</button>
                      </form>
                      </div>
                    </div>
                  </div>
                  <thead>
                    <tr>
                      <!-- <th>序号</th> -->
                      <th>ID</th>
                      <th>敏感词</th>
                      <th>等级</th>
                      <th>操作</th>
                    </tr>
                  </thead>

                  <tbody>
                  <foreach name="sens" item="vo" key="k" >   
                  <tr>
                      <td class="void">{$vo.id}</td>
                      <td class="vord">{$vo.word}</td>
                      <td class="vode">{$vo.grade}
                      <!-- 词语查询等级：1禁用、2审核、3替换 -->
                      </td>
                      <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <!-- 修改按钮 -->
                          <a class="btn btn-xs btn-info" href="{:U('Admin/Sen/save',array('id'=>$vo['id']))}">
                            <i class="icon-edit bigger-120"></i>
                          </a>
                            <!-- 删除按钮 -->
                          <button class="btn btn-xs btn-danger dele" href="">
                            <i class="icon-trash bigger-120"></i>
                          </button>

                          </button>
                        </div>

                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                          <div class="inline position-relative">
                            <button data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                              <i class="icon-cog icon-only bigger-110"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                              <li>
                                <a title="View" data-rel="tooltip" class="tooltip-info" href="#">
                                  <span class="blue">
                                    <i class="icon-zoom-in bigger-120"></i>
                                  </span>
                                </a>
                              </li>

                              <li>
                                <a title="Edit" data-rel="tooltip" class="tooltip-success" href="#">
                                  <span class="green">
                                    <i class="icon-edit bigger-120"></i>
                                  </span>
                                </a>
                              </li>

                              <li>
                                <a title="Delete" data-rel="tooltip" class="tooltip-error" href="#">
                                  <span class="red">
                                    <i class="icon-trash bigger-120"></i>
                                  </span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                  </tr>
                  </foreach>
                    
                  <tr>
                    <td align="center" colspan="5">
                      <div class="row">
                        <div id="pages" class="col-sm-8">
                          <button id="add" class="btn btn-primary"><b>+</b>
                            添加敏感词
                          </button>
                        </div>                      
                        <div id="pages" class="col-sm-3">
                          {$pages}
                        </div>
                      </div>
                      <script>
                        var add = document.getElementById('add');
                        var zidingyi = document.getElementById('zidingyi');
                        var update = document.getElementById('update');
                        var cancel = document.getElementById('cancel');
                        
                        add.onclick = function(){
                        //点击提交按钮时显示添加敏感词表单
                          zidingyi.style.display='block';
                          
                          }
                        cancel.onclick = function(){
                          //点击取消按钮时隐藏添加敏感词表单
                          zidingyi.style.display='none';
                        }                
                      </script>
                    </td>

                  </tr>
                    
                  
                  </tbody>
                </table>

                <style type="text/css">
                    #pages a,#pages span{ background-color: #fff;
                            border: 1px solid #ddd;
                            color: #337ab7;
                            float: left;
                            line-height: 1.42857;
                            margin-left: -1px;
                            padding: 6px 12px;
                            position: relative;
                            text-decoration: none;}
                    #pages span {
                          background-color: #337ab7;
                          border-color: #337ab7;
                          color: #fff;
                          cursor: default;
                          z-index: 2;
                          }
                </style>
              </div><!-- /.table-responsive -->
            </div><!-- /span -->
          </div><!-- /row -->

          <div class="hr hr-18 dotted hr-double"></div>
          
  
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.page-content -->
  </div>
  <script src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
  <script>
  $('.dele').click(function(){
    // alert('333');
    var id = $(this).parents('tr').find('.void').html();
    var word = $(this).parents('tr').find('.vord').html();
    var grade = $(this).parents('tr').find('.vode').html();
    var url = "{:U('Admin/Sen/del',array('id'=>$vo['id']))}";

    var th = $(this);
    $.post(url,{id:id,word:word,grade:grade},function(date){
      // console.log(date);
      if(date){ 
        th.parents('tr').remove();
      }else{
        alert('删除失败');
      }
    })
  })
  </script>
  <script>
  //绑定事件
  // $('#num').blur(function(){
  //   // alert('ccc');
    // var num = $(this).val();
  //   var url = "{:U('Admin/Sen/index')}";
  //   // alert(num);
  //   var btn = $(this);
  //       //ajax
  //       $.get(url,{num:num},function(data){
  //         console.log(data);
  //         // if(data == 1){
  //         //   alert('成功');
           
  //         // }else{
  //         //   alert('失败');
  //         // }
  //       })
  // })
  // </script>
</block>