
@media (min-width: 100px) and (max-width: 1220px) {
.header,.nav_weak,.main_wrap,.footer_wrap{ width:960px;}
.main{background-image: url(../images/main_bg.png);}

.tmode_ad { overflow:hidden;}
.tmode_ad img { margin-left:-130px;}
}

@media (min-width: 1221px) and (max-width: 1920px) {
.header,.nav_weak,.main_wrap,.footer_wrap{ width:1200px;}
.main{background-image: url(../images/main_bg_w.png);}
.main_content {margin-right: 500px;}
.main_sidebar { width:480px; margin-left:-480px;}
.linkforum { float:left; width:180px; padding-top:10px;}
.main_sidebar .box_wrap { width:260px; float:right; margin-right:10px;}
.main_sidebar .sidebar_login{ width:240px;}
.main_sidebar .linkforum .box_wrap { width:180px; margin:0;}

.linkforum .box_wrap .box_title {padding: 7px 3px;}
.my_forum_list ul {padding: 5px 0px}
.forum_menu {padding: 10px 0;}
.forum_menu dt {background-position: 160px -318px;}
.forum_menu dl.current dt {background-position: 160px -351px;}
.forum_menu dd { display:block;}
.pop_select_forum {margin-left: 220px;}

.my_app_list {padding: 7px 5px 10px;}
.tag_hot_list {padding: 5px 5px 15px;}
.side_cate_list {padding: 10px 5px!important}
.not_content_mini {padding: 15px 0px;}

}
